<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #6351ce;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/">Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngSwitch]="userType">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngSwitchCase="'UnAuth'">
        <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="/" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="user/blog" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Blogs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="user/products" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" [routerLink]="cartItems>0?'user/cart':null" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Cart({{cartItems}})</a>
        </li>
      <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="auth/login" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}><fa-icon [icon]="unlockIcon"></fa-icon> Login</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngSwitchCase="'Admin'">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="admin/home" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="admin/list-users" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="admin/list-category" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Blog Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="admin/list-blogs" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="admin/list-products" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="admin/list-orders" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="auth/profile" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="auth/logout">Logout</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            {{ userName }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"  routerLink="auth/logout">Logout</a></li>
          </ul>
        </li> -->
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngSwitchCase="'User'">
        <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="/" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="user/blog" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Blogs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="user/products" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="user/orders" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>My Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" [routerLink]="cartItems>0?'user/cart':null" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Cart({{cartItems}})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="auth/profile" routerLinkActive="active" 
            [routerLinkActiveOptions]={exact:true}>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="auth/logout"><fa-icon [icon]="lockIcon"></fa-icon> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
