<div class="container mt-2">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="userForm" (ngSubmit)="saveUser(user?.id)"
        class="register-form"
      >
        <div class="card">
          <div class="card-header">
            <b>{{heading}}</b>
            <p *ngIf="errorMessage != undefined" style="color: red">
              {{ errorMessage }}
            </p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    formControlName="name"
                    value="{{ user?.name }}"
                    placeholder="Enter User Name"
                  />
                  <p *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched" style="color: red">
                    Name filed required!
                  </p>
                </div>
              </div>
              
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    formControlName="email"
                    value="{{ user?.email }}"
                    placeholder="Enter Email"
                  />
                  <p *ngIf="userForm.controls['email']?.invalid && userForm.controls['email']?.touched" style="color: red">
                    Email filed required!
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="password"
                    name="password"
                    class="form-control"
                    formControlName="password"
                    value="{{ user?.password }}"
                    placeholder="Enter Password"
                  />
                  <p *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched" style="color: red">
                    Password filed required!
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <select formControlName="role" name="role" class="form-control">
                        <option value="" selected disabled>--Select Role--</option>
                        <option value="2" [selected]="user && user.role==2">User</option>
                        <option value="1" [selected]="user && user.role==1">Admin</option>
                  </select>
                  <p
                    *ngIf="userForm.controls['role'].invalid && userForm.controls['role'].touched"
                    style="color: red"
                  >
                    Role filed required!
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <button
                  type="submit"
                  class="form-control btn btn-primary"
                >
                 <fa-icon [icon]="save"></fa-icon> {{button}}
                </button>
                <a
                  (click)="resetForm()"
                  class="form-control btn btn-secondary mt-2"
                >
                 <fa-icon [icon]="reset"></fa-icon> Reset
                </a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <b> Users </b>
        </div>
        <div class="card-body">
          <p
            *ngIf="message != undefined"
            style="
              background-color: green;
              padding: 10px;
              margin-top: 10px;
              color: #fff;
            "
          >
            {{ message }}
          </p>
          <table class="table table-borderd">
            <thead>
              <tr style="text-align: center">
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of users" style="text-align: center">
                <td>{{ item?.name }}</td>
                <td>{{ item?.email}}</td>
                <td>
                  <span *ngIf="item.role==1" class="badge badge-primary">Admin</span>
                  <span *ngIf="item.role==2" class="badge badge-danger">User</span>
            </td>
                <td>
                  <a
                    class="text-warning"
                    style="cursor: pointer"
                    (click)="editUser(item.id)"
                    ><fa-icon [icon]="edit"></fa-icon></a
                  >
                  <a
                    class="text-danger ml-1"
                    style="cursor: pointer"
                    (click)="deleteUser(item.id)"
                    ><fa-icon [icon]="delete"></fa-icon></a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
