<div class="container mt-2">
  <div class="row">
    <div class="col-md-4">
      <form
        [formGroup]="productForm" (ngSubmit)="saveProduct(product?.id)"
        class="register-form"
      >
        <div class="card">
          <div class="card-header">
            <b>{{heading}}</b>
            <p *ngIf="errorMessage != undefined" style="color: red">
              {{ errorMessage }}
            </p>
          </div>
          <div class="card-body">
            <div class="row">

              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="text"
                    id="name"
                    class="form-control"
                    name="name"
                    formControlName="name"
                    value="{{ product?.name }}"
                    placeholder="Full Name"
                  />
                  <p *ngIf="productForm.controls['name'].invalid && productForm.controls['name'].touched" style="color: red">
                    Name filed required!
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="text"
                    id="price"
                    class="form-control"
                    name="price"
                    formControlName="price"
                    value="{{ product?.price }}"
                    placeholder="Price"
                  />
                  <p *ngIf="productForm.controls['price'].invalid && productForm.controls['price'].touched" style="color: red">
                    Price filed required!
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="text"
                    id="category"
                    class="form-control"
                    name="category"
                    formControlName="category"
                    value="{{ product?.category }}"
                    placeholder="Category"
                  />
                  <p
                    *ngIf="productForm.controls['category'].invalid && productForm.controls['category'].touched"
                    style="color: red"
                  >
                    Category filed required!
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="text"
                    id="color"
                    class="form-control"
                    name="color"
                    formControlName="color"
                    value="{{ product?.color }}"
                    placeholder="Color"
                  />
                  <p *ngIf="productForm.controls['color'].invalid && productForm.controls['color'].touched" style="color: red">
                    Color filed required!
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="text"
                    id="url"
                    class="form-control"
                    name="url"
                    formControlName="url"
                    value="{{ product?.url }}"
                    placeholder="Image Url"
                  />
                  <p *ngIf="productForm.controls['url'].invalid && productForm.controls['url'].touched" style="color: red">
                    Url filed required!
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea
                    type="text"
                    id="description"
                    class="form-control"
                    name="description"
                    formControlName="description"
                    value="{{ product?.description }}"
                    placeholder="description"
                    ></textarea
                  >
                  <p
                    *ngIf="productForm.controls['description'].invalid && productForm.controls['description'].touched"
                    style="color: red"
                  >
                    Description filed required!
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <button
                  type="submit"
                  class="form-control btn btn-primary"
                >
                 <fa-icon [icon]="save"></fa-icon> {{button}}
                </button>
                <a
                  (click)="resetForm()"
                  class="form-control btn btn-secondary mt-2"
                >
                 <fa-icon [icon]="reset"></fa-icon> Reset
                </a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <b> Products </b>
        </div>
        <div class="card-body">
          <p
            *ngIf="message != undefined"
            style="
              background-color: green;
              padding: 10px;
              margin-top: 10px;
              color: #fff;
            "
          >
            {{ message }}
          </p>
          <table class="table table-borderd">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Color</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products" style="text-align: center">
                <td>{{ item?.name }}</td>
                <td>{{ item?.price }}</td>
                <td>{{ item?.category }}</td>
                <td>{{ item?.color }}</td>
                <td><img src="{{ item?.url }}" alt="" style="height: 50px; width:50px;"></td>
                <td>{{ item?.description }}</td>
                <td>
                  <a
                    class="text-warning"
                    style="cursor: pointer"
                    (click)="editProduct(item.id)"
                    ><fa-icon [icon]="edit"></fa-icon></a
                  >
                  <a
                    class="text-danger ml-1"
                    style="cursor: pointer"
                    (click)="deleteProduct(item.id)"
                    ><fa-icon [icon]="delete"></fa-icon></a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
