<div class="container mt-3">
  <div class="row g-6 mb-6">
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card shadow border-0 bg-primary text-white">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-sm d-block mb-2"
                >Total Sale</span
              >
              <span class="h3 font-bold mb-0">{{dashboard?.sales}} <small style="font-size:14px;">Rs</small></span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"
              >
                <i class="bi bi-credit-card"></i>
              </div>
            </div>
          </div>
          <div class="mt-2 mb-0 text-sm">
            <span class="badge badge-pill bg-soft-success me-2">
              <i class="bi bi-arrow-up me-1"></i>100%
            </span>
            <span class="text-nowrap text-xs">Total Sales</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card shadow border-0 bg-info text-white">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-sm d-block mb-2"
                >Total Orders</span
              >
              <span class="h3 font-bold mb-0">{{dashboard?.orders}}</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"
              >
                <i class="bi bi-credit-card"></i>
              </div>
            </div>
          </div>
          <div class="mt-2 mb-0 text-sm">
            <span class="badge badge-pill bg-soft-success me-2">
              <i class="bi bi-arrow-up me-1"></i>100%
            </span>
            <span class="text-nowrap text-xs">Total Orders</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card shadow border-0 bg-warning text-white">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-sm d-block mb-2"
                >Sale Products</span
              >
              <span class="h3 font-bold mb-0">{{dashboard?.sale_products}}</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"
              >
                <i class="bi bi-credit-card"></i>
              </div>
            </div>
          </div>
          <div class="mt-2 mb-0 text-sm">
            <span class="badge badge-pill bg-soft-success me-2">
              <i class="bi bi-arrow-up me-1"></i>100%
            </span>
            <span class="text-nowrap text-xs">Total Products</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card shadow border-0 bg-success text-white">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-sm d-block mb-2"
                >Total Products</span
              >
              <span class="h3 font-bold mb-0">{{dashboard?.products}}</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"
              >
                <i class="bi bi-credit-card"></i>
              </div>
            </div>
          </div>
          <div class="mt-2 mb-0 text-sm">
            <span class="badge badge-pill bg-soft-success me-2">
              <i class="bi bi-arrow-up me-1"></i>100%
            </span>
            <span class="text-nowrap text-xs">Total Products</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 mt-3">
      <div class="card shadow border-0 bg-danger text-white">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-sm d-block mb-2"
                >Total Categories</span
              >
              <span class="h3 font-bold mb-0">{{dashboard?.category}}</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"
              >
                <i class="bi bi-credit-card"></i>
              </div>
            </div>
          </div>
          <div class="mt-2 mb-0 text-sm">
            <span class="badge badge-pill bg-soft-success me-2">
              <i class="bi bi-arrow-up me-1"></i>100%
            </span>
            <span class="text-nowrap text-xs">Total Blog Categories</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 mt-3">
      <div class="card shadow border-0 bg-dark text-white">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-sm d-block mb-2"
                >Total Blogs</span
              >
              <span class="h3 font-bold mb-0">{{dashboard?.blogs}}</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"
              >
                <i class="bi bi-credit-card"></i>
              </div>
            </div>
          </div>
          <div class="mt-2 mb-0 text-sm">
            <span class="badge badge-pill bg-soft-success me-2">
              <i class="bi bi-arrow-up me-1"></i>100%
            </span>
            <span class="text-nowrap text-xs">Total Blogs</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <b>Pending Orders </b>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-borderd">
              <thead>
                <tr>
                  <th scope="col">Order #</th>
                  <th scope="col">Date</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Address</th>
                  <th scope="col">Sub Total</th>
                  <th scope="col">Tax</th>
                  <th scope="col">Discount</th>
                  <th scope="col">Delivery</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of orders" style="text-align: center">
                  <td>{{ item?.id }}</td>
                  <td>{{ item?.created_at | date : "short" }}</td>
                  <td>{{ item?.name }}</td>
                  <td>{{ item?.email }}</td>
                  <td>{{ item?.phone }}</td>
                  <td>{{ item?.address }}</td>
                  <td>{{ item?.sub_total }}</td>
                  <td>{{ item?.tax }}</td>
                  <td>{{ item?.discount }}</td>
                  <td>{{ item?.delivery }}</td>
                  <td>{{ item?.total }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
